.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    /* margin-top: 10px !important; */
}

.tablaNoBorde tr, .tablaNoBorde td {
    border: none !important;
}
.fieldSet legend{
    font-size: 1em !important;
    width: auto !important;
    margin-bottom: 5px !important;
}
.boton{
    margin-top: 0px !important;
}
.margen{
    margin-bottom: 5px;
    margin-top: 5px;
}
.inputLargo{
    width: 100% !important;
    resize: none;
}
.sin-margen{
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.panel{
    padding: 0px !important;
    border: none !important;
}
.ui-state-disabled{
    opacity: .85 !important;
}