.ui-widget {
    font-size: 12px !important;
}
.ui-column-title{
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    /* margin-top: 10px !important; */
}

.tablaNoBorde tr, .tablaNoBorde td {
    border: none !important;
}
.fieldSet legend{
    font-size: 1em !important;
    width: auto !important;
    margin-bottom: 5px !important;
}
.boton{
    margin-top: 0px !important;
}
.margen{
    margin-bottom: 5px;
    margin-top: 5px;
}
.inputLargo{
    width: 100% !important;
    resize: none;
}
.sin-margen{
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.panel{
    padding: 0px !important;
    border: none !important;
}
.ui-state-disabled{
    opacity: .85 !important;
}
.btn.red{
    background: #d84a38 !important;
    border: none;
    font-weight: normal !important;
}
.btn.yellow{
    background: #ffb848 !important;
    border: none;
    font-weight: normal !important;
}
.btn.green{
    background: #35aa47 !important;
    border: none;
    font-weight: normal !important;
}
.btn.blue{
    background: #4d90fe !important;
    border: none;
    font-weight: normal !important;
}
#cambiarSimulacion .modal-dialog  {
    width:100%;
}
.ui-growl{
    top: 100px !important;
    position:fixed !important;
}
.texto-negrita{
    font-weight: bold;
}
.espacio-div{
    margin-bottom: 10px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.fa-prime{
    text-indent: 0px;
    background: inherit;
}
.label-espacio{
    margin-top: 5px !important;
}

.faltaRequisito{
    background: #ffb848;
    /*color: #ffffff;*/
}